.textarea {
	color: var(--color-body-text) !important;
	border-color: var(--color-tertiary);
	box-shadow: var(--inner-shadow);
}

.textarea:focus {
	box-shadow: none;
	border-color: var(--color-header-text) !important;
	background-color: inherit;
}

.label {
	color: var(--color-body-text) !important;
}

.label::after {
	background-color: transparent !important;
}